In [117]:
import pandas as pd

In [118]:
df = pd.read_csv('survey_results_public.csv', index_col='Respondent')
schema_df = pd.read_csv('survey_results_schema.csv', index_col='Column')

In [119]:
df.loc[150:173, 'Hobbyist':'Country']

,Hobbyist,Age,Age1stCode,CompFreq,CompTotal,ConvertedComp,Country
Respondent,,,,,,,
150,Yes,NaN,12,Yearly,300000.0,300000.0,United States
151,Yes,35.0,10,Monthly,20000.0,9792.0,Ukraine
152,Yes,30.0,16,Monthly,10000.0,121980.0,Switzerland
153,No,30.0,16,Yearly,90000.0,90000.0,United States
154,No,42.0,12,Yearly,150000.0,150000.0,United States
155,Yes,43.0,10,Yearly,80000.0,80000.0,United States
156,Yes,25.0,16,Yearly,125000.0,125000.0,United States
157,No,26.0,15,Yearly,85000.0,64287.0,Canada
158,Yes,40.0,18,Yearly,170000.0,170000.0,United States
159,Yes,NaN,12,Yearly,112000.0,112000.0,United States
160,Yes,32.0,8,Yearly,141000.0,141000.0,United States
161,Yes,24.0,14,Monthly,2800.0,36324.0,Netherlands
162,Yes,38.0,10,Yearly,100000.0,100000.0,Canada
163,Yes,33.0,13,Monthly,NaN,NaN,Canada
164,Yes,18.0,14,NaN,NaN,NaN,United States
165,Yes,30.0,12,Yearly,80000.0,80000.0,United States
166,Yes,28.0,9,Yearly,45000.0,48644.0,Germany
167,Yes,22.0,15,Yearly,55000.0,41597.0,Canada
168,Yes,25.0,14,NaN,NaN,NaN,Italy
169,No,32.0,29,Yearly,300000.0,300000.0,United States
170,Yes,26.0,17,Yearly,130000.0,130000.0,United States
171,Yes,31.0,12,Monthly,770000.0,29628.0,Hungary
172,Yes,51.0,14,Yearly,80000.0,60505.0,Canada
173,Yes,26.0,13,Monthly,NaN,NaN,Nepal

In [120]:
schema_df

                                                                   QuestionText
Column
Respondent                    Randomized respondent ID number (not in order ...
MainBranch                    Which of the following options best describes ...
Hobbyist                                                Do you code as a hobby?
Age                           What is your age (in years)? If you prefer not...
Age1stCode                    At what age did you write your first line of c...
CompFreq                       Is that compensation weekly, monthly, or yearly?
CompTotal                     What is your current total compensation (salar...
ConvertedComp                 Salary converted to annual USD salaries using ...
Country                                                      Where do you live?
CurrencyDesc                  Which currency do you use day-to-day? If your ...
CurrencySymbol                Which currency do you use day-to-day? If your ...
DatabaseDesireNextYear        Which database environments have you done exte...
DatabaseWorkedWith            Which database environments have you done exte...
DevType                       Which of the following describe you? Please se...
EdLevel                       Which of the following best describes the high...
Employment                    Which of the following best describes your cur...
Ethnicity                     Which of the following describe you, if any? P...
Gender                        Which of the following describe you, if any? P...
JobFactors                    Imagine that you are deciding between two job ...
JobSat                        How satisfied are you with your current job? (...
JobSeek                       Which of the following best describes your cur...
LanguageDesireNextYear        Which programming, scripting, and markup langu...
LanguageWorkedWith            Which programming, scripting, and markup langu...
MiscTechDesireNextYear        Which other frameworks, libraries, and tools h...
MiscTechWorkedWith            Which other frameworks, libraries, and tools h...
NEWCollabToolsDesireNextYear  Which collaboration tools have you done extens...
NEWCollabToolsWorkedWith      Which collaboration tools have you done extens...
NEWDevOps                     Does your company have a dedicated DevOps person?
NEWDevOpsImpt                 How important is the practice of DevOps to sca...
NEWEdImpt                     How important is a formal education, such as a...
NEWJobHunt                    In general, what drives you to look for a new ...
NEWJobHuntResearch            When job searching, how do you learn more abou...
NEWLearn                      How frequently do you learn a new language or ...
NEWOffTopic                   Do you think Stack Overflow should relax restr...
NEWOnboardGood                Do you think your company has a good onboardin...
NEWOtherComms                 Are you a member of any other online developer...
NEWOvertime                   How often do you work overtime or beyond the f...
NEWPurchaseResearch           When buying a new tool or software, how do you...
NEWPurpleLink                 You search for a coding solution online and th...
NEWSOSites                    Which of the following Stack Overflow sites ha...
NEWStuck                      What do you do when you get stuck on a problem...
OpSys                         What is the primary operating system in which ...
OrgSize                       Approximately how many people are employed by ...
PlatformDesireNextYear        Which platforms have you done extensive develo...
PlatformWorkedWith            Which platforms have you done extensive develo...
PurchaseWhat                  What level of influence do you, personally, ha...
Sexuality                     Which of the following describe you, if any? P...
SOAccount                                 Do you have a Stack Overflow account?
SOComm                        Do you consider yourself a member of the Stack...
SOPartFreq                    How frequently would you say you participate i...
SOVisitFreq                   How frequently would you say you visit Stack O...
SurveyEase                    How easy or difficult was this survey to compl...
SurveyLength                  How do you feel about the length of the survey...
Trans                                                      Are you transgender?
UndergradMajor                            What was your primary field of study?
WebframeDesireNextYear        Which web frameworks have you done extensive d...
WebframeWorkedWith            Which web frameworks have you done extensive d...
WelcomeChange                 Compared to last year, how welcome do you feel...
WorkWeekHrs                   On average, how many hours per week do you wor...
YearsCode                     Including any education, how many years have y...
YearsCodePro                  NOT including education, how many years have y...

In [121]:
schema_df.loc['Ethnicity':'JobSeek']
schema_df.sort_index(ascending=False)

                                                                   QuestionText
Column
YearsCodePro                  NOT including education, how many years have y...
YearsCode                     Including any education, how many years have y...
WorkWeekHrs                   On average, how many hours per week do you wor...
WelcomeChange                 Compared to last year, how welcome do you feel...
WebframeWorkedWith            Which web frameworks have you done extensive d...
WebframeDesireNextYear        Which web frameworks have you done extensive d...
UndergradMajor                            What was your primary field of study?
Trans                                                      Are you transgender?
SurveyLength                  How do you feel about the length of the survey...
SurveyEase                    How easy or difficult was this survey to compl...
Sexuality                     Which of the following describe you, if any? P...
SOVisitFreq                   How frequently would you say you visit Stack O...
SOPartFreq                    How frequently would you say you participate i...
SOComm                        Do you consider yourself a member of the Stack...
SOAccount                                 Do you have a Stack Overflow account?
Respondent                    Randomized respondent ID number (not in order ...
PurchaseWhat                  What level of influence do you, personally, ha...
PlatformWorkedWith            Which platforms have you done extensive develo...
PlatformDesireNextYear        Which platforms have you done extensive develo...
OrgSize                       Approximately how many people are employed by ...
OpSys                         What is the primary operating system in which ...
NEWStuck                      What do you do when you get stuck on a problem...
NEWSOSites                    Which of the following Stack Overflow sites ha...
NEWPurpleLink                 You search for a coding solution online and th...
NEWPurchaseResearch           When buying a new tool or software, how do you...
NEWOvertime                   How often do you work overtime or beyond the f...
NEWOtherComms                 Are you a member of any other online developer...
NEWOnboardGood                Do you think your company has a good onboardin...
NEWOffTopic                   Do you think Stack Overflow should relax restr...
NEWLearn                      How frequently do you learn a new language or ...
NEWJobHuntResearch            When job searching, how do you learn more abou...
NEWJobHunt                    In general, what drives you to look for a new ...
NEWEdImpt                     How important is a formal education, such as a...
NEWDevOpsImpt                 How important is the practice of DevOps to sca...
NEWDevOps                     Does your company have a dedicated DevOps person?
NEWCollabToolsWorkedWith      Which collaboration tools have you done extens...
NEWCollabToolsDesireNextYear  Which collaboration tools have you done extens...
MiscTechWorkedWith            Which other frameworks, libraries, and tools h...
MiscTechDesireNextYear        Which other frameworks, libraries, and tools h...
MainBranch                    Which of the following options best describes ...
LanguageWorkedWith            Which programming, scripting, and markup langu...
LanguageDesireNextYear        Which programming, scripting, and markup langu...
JobSeek                       Which of the following best describes your cur...
JobSat                        How satisfied are you with your current job? (...
JobFactors                    Imagine that you are deciding between two job ...
Hobbyist                                                Do you code as a hobby?
Gender                        Which of the following describe you, if any? P...
Ethnicity                     Which of the following describe you, if any? P...
Employment                    Which of the following best describes your cur...
EdLevel                       Which of the following best describes the high...
DevType                       Which of the following describe you? Please se...
DatabaseWorkedWith            Which database environments have you done exte...
DatabaseDesireNextYear        Which database environments have you done exte...
CurrencySymbol                Which currency do you use day-to-day? If your ...
CurrencyDesc                  Which currency do you use day-to-day? If your ...
Country                                                      Where do you live?
ConvertedComp                 Salary converted to annual USD salaries using ...
CompTotal                     What is your current total compensation (salar...
CompFreq                       Is that compensation weekly, monthly, or yearly?
Age1stCode                    At what age did you write your first line of c...
Age                           What is your age (in years)? If you prefer not...

In [122]:
df['Age'].value_counts()

25.0     2693
28.0     2412
30.0     2406
26.0     2391
27.0     2338
24.0     2275
29.0     2219
23.0     2213
22.0     1884
32.0     1781
31.0     1716
21.0     1628
33.0     1527
35.0     1485
34.0     1374
20.0     1204
36.0     1129
38.0     1094
37.0     1057
40.0      914
39.0      858
19.0      816
18.0      644
42.0      626
41.0      591
43.0      520
45.0      472
17.0      422
44.0      397
46.0      348
48.0      341
16.0      326
49.0      306
47.0      298
50.0      292
15.0      231
51.0      211
52.0      205
55.0      185
53.0      172
54.0      161
56.0      124
57.0      118
14.0      111
58.0      102
59.0       94
60.0       88
63.0       76
61.0       67
13.0       63
62.0       60
64.0       43
66.0       43
65.0       36
67.0       25
12.0       23
69.0       23
70.0       19
72.0       18
68.0       18
71.0       15
73.0       14
99.0       10
78.0        7
1.0         6
11.0        6
10.0        5
74.0        5
77.0        5
79.0        4
75.0        4
76.0        4
81.0        3
80.0        3
94.0        2
83.0        2
85.0        2
89.0        2
24.5        2
27.5        2
23.8        1
32.5        1
20.5        1
32.8        1
31.5        1
23.4        1
88.0        1
7.0         1
84.0        1
86.0        1
49.5        1
14.5        1
15.5        1
97.0        1
35.7        1
21.5        1
96.0        1
98.0        1
5.0         1
95.0        1
34.5        1
279.0       1
39.5        1
19.8        1
16.5        1
26.8        1
3.0         1
14.7        1
26.5        1
22.5        1
Name: Age, dtype: int64

In [123]:
pd.set_option("display.max_rows", 110)

In [124]:
df

,MainBranch,Hobbyist,Age,Age1stCode,CompFreq,CompTotal,ConvertedComp,Country,CurrencyDesc,CurrencySymbol,...,SurveyEase,SurveyLength,Trans,UndergradMajor,WebframeDesireNextYear,WebframeWorkedWith,WelcomeChange,WorkWeekHrs,YearsCode,YearsCodePro
Respondent,,,,,,,,,,,,,,,,,,,,,
1,I am a developer by profession,Yes,NaN,13,Monthly,NaN,NaN,Germany,European Euro,EUR,...,Neither easy nor difficult,Appropriate in length,No,"Computer science, computer engineering, or sof...",ASP.NET Core,ASP.NET;ASP.NET Core,Just as welcome now as I felt last year,50.0,36,27
2,I am a developer by profession,No,NaN,19,NaN,NaN,NaN,United Kingdom,Pound sterling,GBP,...,NaN,NaN,NaN,"Computer science, computer engineering, or sof...",NaN,NaN,Somewhat more welcome now than last year,NaN,7,4
3,I code primarily as a hobby,Yes,NaN,15,NaN,NaN,NaN,Russian Federation,NaN,NaN,...,Neither easy nor difficult,Appropriate in length,NaN,NaN,NaN,NaN,Somewhat more welcome now than last year,NaN,4,NaN
4,I am a developer by profession,Yes,25.0,18,NaN,NaN,NaN,Albania,Albanian lek,ALL,...,NaN,NaN,No,"Computer science, computer engineering, or sof...",NaN,NaN,Somewhat less welcome now than last year,40.0,7,4
5,"I used to be a developer by profession, but no...",Yes,31.0,16,NaN,NaN,NaN,United States,NaN,NaN,...,Easy,Too short,No,"Computer science, computer engineering, or sof...",Django;Ruby on Rails,Ruby on Rails,Just as welcome now as I felt last year,NaN,15,8
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
64858,NaN,Yes,NaN,16,NaN,NaN,NaN,United States,NaN,NaN,...,NaN,NaN,NaN,"Computer science, computer engineering, or sof...",NaN,NaN,NaN,NaN,10,Less than 1 year
64867,NaN,Yes,NaN,NaN,NaN,NaN,NaN,Morocco,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
64898,NaN,Yes,NaN,NaN,NaN,NaN,NaN,Viet Nam,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
64925,NaN,Yes,NaN,NaN,NaN,NaN,NaN,Poland,NaN,NaN,...,NaN,NaN,NaN,NaN,Angular;Angular.js;React.js,NaN,NaN,NaN,NaN,NaN
65112,NaN,Yes,NaN,NaN,NaN,NaN,NaN,Spain,NaN,NaN,...,NaN,NaN,NaN,"Computer science, computer engineering, or sof...",ASP.NET Core;jQuery,Angular;Angular.js;ASP.NET Core;jQuery,NaN,NaN,NaN,NaN

In [125]:
people = {
    'first':['Corey','Jane','John'],
    'last':['Schafer','Doe','Doe'],
    'email':['CoreyMSchafer@gmail.com','JaneDoe@gmail.com','JohnDoe@gmail.com']
}

In [126]:
df_2 = pd.DataFrame(people)

In [127]:
df_2

   first     last                    email
0  Corey  Schafer  CoreyMSchafer@gmail.com
1   Jane      Doe        JaneDoe@gmail.com
2   John      Doe        JohnDoe@gmail.com

In [128]:
filt = (df_2['last'] == 'Doe') | (df_2['first'] == 'Jane')

In [129]:
df_2[filt]

  first last              email
1  Jane  Doe  JaneDoe@gmail.com
2  John  Doe  JohnDoe@gmail.com

In [130]:
df_2.loc[~filt, ['last','email']]

      last                    email
0  Schafer  CoreyMSchafer@gmail.com

In [131]:
filt2 = (df['Age'] > 30) & (df['Age'] < 32)

In [132]:
df[filt2]

,MainBranch,Hobbyist,Age,Age1stCode,CompFreq,CompTotal,ConvertedComp,Country,CurrencyDesc,CurrencySymbol,...,SurveyEase,SurveyLength,Trans,UndergradMajor,WebframeDesireNextYear,WebframeWorkedWith,WelcomeChange,WorkWeekHrs,YearsCode,YearsCodePro
Respondent,,,,,,,,,,,,,,,,,,,,,
5,"I used to be a developer by profession, but no...",Yes,31.0,16,NaN,NaN,NaN,United States,NaN,NaN,...,Easy,Too short,No,"Computer science, computer engineering, or sof...",Django;Ruby on Rails,Ruby on Rails,Just as welcome now as I felt last year,NaN,15,8
32,I am a developer by profession,Yes,31.0,12,Monthly,3500.0,31764.0,Canada,Canadian dollar,CAD,...,Neither easy nor difficult,Too long,No,"Computer science, computer engineering, or sof...",NaN,NaN,Just as welcome now as I felt last year,37.0,19,10
61,I am a developer by profession,Yes,31.0,12,Monthly,NaN,NaN,Mexico,Mexican peso,MXN,...,Easy,Too short,No,"Information systems, information technology, o...",Angular.js;jQuery;Laravel,Angular.js;jQuery,A lot less welcome now than last year,40.0,16,9
92,I am a developer by profession,Yes,31.0,11,Yearly,53000.0,57292.0,France,European Euro,EUR,...,Neither easy nor difficult,Too long,NaN,"Computer science, computer engineering, or sof...",Express;Spring;Symfony,Express;Spring;Symfony,A lot more welcome now than last year,30.0,19,10
171,I am a developer by profession,Yes,31.0,12,Monthly,770000.0,29628.0,Hungary,Hungarian forint,HUF,...,Easy,Appropriate in length,No,"Computer science, computer engineering, or sof...",Angular;ASP.NET;ASP.NET Core;React.js;Vue.js,Angular;ASP.NET;ASP.NET Core;jQuery,Just as welcome now as I felt last year,40.0,19,8
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
63082,I am a developer by profession,Yes,31.0,16,NaN,NaN,NaN,Australia,Australian dollar,AUD,...,NaN,NaN,No,"Computer science, computer engineering, or sof...",NaN,NaN,Just as welcome now as I felt last year,NaN,15,10
63236,I am a developer by profession,No,31.0,12,Weekly,NaN,NaN,United States,United States dollar,USD,...,Easy,Appropriate in length,No,Fine arts or performing arts (such as graphic ...,React.js;Vue.js,jQuery,Not applicable - I did not use Stack Overflow ...,40.0,4,3
63288,I am a developer by profession,No,31.0,16,Yearly,65000.0,84019.0,United Kingdom,Pound sterling,GBP,...,Easy,Appropriate in length,No,"Computer science, computer engineering, or sof...",Angular;Angular.js;Express,Angular;Angular.js;Express,Just as welcome now as I felt last year,40.0,14,7
14959,NaN,Yes,31.0,10,NaN,NaN,NaN,Czech Republic,NaN,NaN,...,Easy,Appropriate in length,No,"Computer science, computer engineering, or sof...",NaN,Spring,A lot less welcome now than last year,NaN,13,2
30238,NaN,Yes,31.0,18,NaN,NaN,NaN,Germany,NaN,NaN,...,Easy,Too short,No,"Another engineering discipline (such as civil,...",NaN,NaN,Just as welcome now as I felt last year,NaN,13,NaN

In [133]:
high_salary = (df['ConvertedComp']>70000)

In [134]:
df.loc[high_salary, ['Country','Age','LanguageWorkedWith']]

,Country,Age,LanguageWorkedWith
Respondent,,,
8,United States,36.0,Python;SQL
16,United Kingdom,45.0,Bash/Shell/PowerShell;HTML/CSS;Java;JavaScript...
17,United States,25.0,C#;HTML/CSS;JavaScript;Python;SQL;VBA
18,United States,32.0,Bash/Shell/PowerShell;HTML/CSS;Perl
19,United States,24.0,Bash/Shell/PowerShell;C#;HTML/CSS;JavaScript;S...
...,...,...,...
65586,United States,NaN,NaN
65589,United States,NaN,NaN
65602,United States,NaN,NaN
65604,United States,NaN,NaN
65617,Germany,NaN,NaN

In [135]:
countries = ['United States', 'Germany']

In [136]:
filt3 = df['Country'].isin(countries)

In [137]:
df.loc[filt3, ['Age','Country']]

             Age        Country
Respondent
1            NaN        Germany
5           31.0  United States
6            NaN        Germany
8           36.0  United States
14          27.0  United States
...          ...            ...
58498       32.0  United States
58896       29.0  United States
60931        NaN  United States
63077        NaN  United States
64858        NaN  United States

[16359 rows x 2 columns]

In [138]:
filt4 = df['LanguageWorkedWith'].str.contains('Python', na=False)

In [139]:
df.loc[filt4, 'LanguageWorkedWith']

Respondent
3                                 Objective-C;Python;Swift
8                                               Python;SQL
10                     HTML/CSS;Java;JavaScript;Python;SQL
13                                     C;JavaScript;Python
15        Bash/Shell/PowerShell;C;HTML/CSS;Java;Python;SQL
                               ...
61561    Bash/Shell/PowerShell;HTML/CSS;JavaScript;Perl...
62391       C++;HTML/CSS;JavaScript;Python;Ruby;TypeScript
63077              C++;HTML/CSS;Java;JavaScript;Python;SQL
63640    Bash/Shell/PowerShell;C;C#;C++;HTML/CSS;Java;J...
64867    Assembly;Bash/Shell/PowerShell;C;C#;C++;Dart;G...
Name: LanguageWorkedWith, Length: 25287, dtype: object

In [140]:
df_2

   first     last                    email
0  Corey  Schafer  CoreyMSchafer@gmail.com
1   Jane      Doe        JaneDoe@gmail.com
2   John      Doe        JohnDoe@gmail.com

In [141]:
df_2.columns

Index(['first', 'last', 'email'], dtype='object')

In [142]:
df_2.columns = ['first_name', 'last_name', 'email_name']

In [143]:
df_2

  first_name last_name               email_name
0      Corey   Schafer  CoreyMSchafer@gmail.com
1       Jane       Doe        JaneDoe@gmail.com
2       John       Doe        JohnDoe@gmail.com

In [144]:
df_2.columns = [x.upper() for x in df_2.columns]

In [145]:
df_2

  FIRST_NAME LAST_NAME               EMAIL_NAME
0      Corey   Schafer  CoreyMSchafer@gmail.com
1       Jane       Doe        JaneDoe@gmail.com
2       John       Doe        JohnDoe@gmail.com

In [146]:
df_2.columns = df_2.columns.str.replace('_','888')

In [147]:
df_2

  FIRST888NAME LAST888NAME             EMAIL888NAME
0        Corey     Schafer  CoreyMSchafer@gmail.com
1         Jane         Doe        JaneDoe@gmail.com
2         John         Doe        JohnDoe@gmail.com

In [148]:
df_2.rename(columns={'FIRST888NAME':'first','LAST888NAME':'last','EMAIL888NAME':'email'}, inplace=True)

In [149]:
df_2

   first     last                    email
0  Corey  Schafer  CoreyMSchafer@gmail.com
1   Jane      Doe        JaneDoe@gmail.com
2   John      Doe        JohnDoe@gmail.com

In [150]:
df_2.loc[2] = ['Boris', 'theBest','YeahMan@gmail.com']

In [151]:
df_2

   first     last                    email
0  Corey  Schafer  CoreyMSchafer@gmail.com
1   Jane      Doe        JaneDoe@gmail.com
2  Boris  theBest        YeahMan@gmail.com

In [152]:
df_2.loc[2, ['first','last']] = ['Patrick','LaSalope']

In [153]:
df_2

     first      last                    email
0    Corey   Schafer  CoreyMSchafer@gmail.com
1     Jane       Doe        JaneDoe@gmail.com
2  Patrick  LaSalope        YeahMan@gmail.com

In [154]:
df_2

     first      last                    email
0    Corey   Schafer  CoreyMSchafer@gmail.com
1     Jane       Doe        JaneDoe@gmail.com
2  Patrick  LaSalope        YeahMan@gmail.com

In [155]:
filt = (df_2.email == 'YeahMan@gmail.com')

In [156]:
df_2.loc[filt]['last']

2    LaSalope
Name: last, dtype: object

In [157]:
df_2.loc[filt, 'last'] = 'lalala'

In [158]:
df_2

     first     last                    email
0    Corey  Schafer  CoreyMSchafer@gmail.com
1     Jane      Doe        JaneDoe@gmail.com
2  Patrick   lalala        YeahMan@gmail.com

In [159]:
df_2.email = df_2.email.str.lower()

In [160]:
df_2

     first     last                    email
0    Corey  Schafer  coreymschafer@gmail.com
1     Jane      Doe        janedoe@gmail.com
2  Patrick   lalala        yeahman@gmail.com

In [161]:
df_2['first'].apply(len)

0    5
1    4
2    7
Name: first, dtype: int64

In [162]:
df_2.email = df_2.email.apply(lambda x:x.capitalize())

In [163]:
df_2

     first     last                    email
0    Corey  Schafer  Coreymschafer@gmail.com
1     Jane      Doe        Janedoe@gmail.com
2  Patrick   lalala        Yeahman@gmail.com

In [164]:
df_2.apply(len, axis='columns')

0    3
1    3
2    3
dtype: int64

In [165]:
df_2.apply(pd.Series.min)

first                      Corey
last                         Doe
email    Coreymschafer@gmail.com
dtype: object

In [166]:
df

,MainBranch,Hobbyist,Age,Age1stCode,CompFreq,CompTotal,ConvertedComp,Country,CurrencyDesc,CurrencySymbol,...,SurveyEase,SurveyLength,Trans,UndergradMajor,WebframeDesireNextYear,WebframeWorkedWith,WelcomeChange,WorkWeekHrs,YearsCode,YearsCodePro
Respondent,,,,,,,,,,,,,,,,,,,,,
1,I am a developer by profession,Yes,NaN,13,Monthly,NaN,NaN,Germany,European Euro,EUR,...,Neither easy nor difficult,Appropriate in length,No,"Computer science, computer engineering, or sof...",ASP.NET Core,ASP.NET;ASP.NET Core,Just as welcome now as I felt last year,50.0,36,27
2,I am a developer by profession,No,NaN,19,NaN,NaN,NaN,United Kingdom,Pound sterling,GBP,...,NaN,NaN,NaN,"Computer science, computer engineering, or sof...",NaN,NaN,Somewhat more welcome now than last year,NaN,7,4
3,I code primarily as a hobby,Yes,NaN,15,NaN,NaN,NaN,Russian Federation,NaN,NaN,...,Neither easy nor difficult,Appropriate in length,NaN,NaN,NaN,NaN,Somewhat more welcome now than last year,NaN,4,NaN
4,I am a developer by profession,Yes,25.0,18,NaN,NaN,NaN,Albania,Albanian lek,ALL,...,NaN,NaN,No,"Computer science, computer engineering, or sof...",NaN,NaN,Somewhat less welcome now than last year,40.0,7,4
5,"I used to be a developer by profession, but no...",Yes,31.0,16,NaN,NaN,NaN,United States,NaN,NaN,...,Easy,Too short,No,"Computer science, computer engineering, or sof...",Django;Ruby on Rails,Ruby on Rails,Just as welcome now as I felt last year,NaN,15,8
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
64858,NaN,Yes,NaN,16,NaN,NaN,NaN,United States,NaN,NaN,...,NaN,NaN,NaN,"Computer science, computer engineering, or sof...",NaN,NaN,NaN,NaN,10,Less than 1 year
64867,NaN,Yes,NaN,NaN,NaN,NaN,NaN,Morocco,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
64898,NaN,Yes,NaN,NaN,NaN,NaN,NaN,Viet Nam,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
64925,NaN,Yes,NaN,NaN,NaN,NaN,NaN,Poland,NaN,NaN,...,NaN,NaN,NaN,NaN,Angular;Angular.js;React.js,NaN,NaN,NaN,NaN,NaN
65112,NaN,Yes,NaN,NaN,NaN,NaN,NaN,Spain,NaN,NaN,...,NaN,NaN,NaN,"Computer science, computer engineering, or sof...",ASP.NET Core;jQuery,Angular;Angular.js;ASP.NET Core;jQuery,NaN,NaN,NaN,NaN

In [167]:
df_2

     first     last                    email
0    Corey  Schafer  Coreymschafer@gmail.com
1     Jane      Doe        Janedoe@gmail.com
2  Patrick   lalala        Yeahman@gmail.com

In [168]:
df_2[2, 'first'] = 'Durull'

In [169]:
df_2

     first     last                    email (2, first)
0    Corey  Schafer  Coreymschafer@gmail.com     Durull
1     Jane      Doe        Janedoe@gmail.com     Durull
2  Patrick   lalala        Yeahman@gmail.com     Durull

In [170]:
df_2.columns

Index(['first', 'last', 'email', (2, 'first')], dtype='object')

In [171]:
df_2

     first     last                    email (2, first)
0    Corey  Schafer  Coreymschafer@gmail.com     Durull
1     Jane      Doe        Janedoe@gmail.com     Durull
2  Patrick   lalala        Yeahman@gmail.com     Durull

In [172]:
filt44 = (df_2['email'] == 'JohnDoe@gmail.com')

In [173]:
df_2.loc[filt44, 'last'] = df_2.loc[filt44, 'last'].apply(lambda x:x.upper())

In [174]:
df_2

     first     last                    email (2, first)
0    Corey  Schafer  Coreymschafer@gmail.com     Durull
1     Jane      Doe        Janedoe@gmail.com     Durull
2  Patrick   lalala        Yeahman@gmail.com     Durull

In [175]:
df_2.loc[1:2, 'first'] ='Jane','John'

In [176]:
df_2

   first     last                    email (2, first)
0  Corey  Schafer  Coreymschafer@gmail.com     Durull
1   Jane      Doe        Janedoe@gmail.com     Durull
2   John   lalala        Yeahman@gmail.com     Durull

In [177]:
df_2['full_name'] = df_2['first'] + ' ' + df_2['last']

In [178]:
df_2.drop(columns=["first", "last"])

                     email (2, first)      full_name
0  Coreymschafer@gmail.com     Durull  Corey Schafer
1        Janedoe@gmail.com     Durull       Jane Doe
2        Yeahman@gmail.com     Durull    John lalala

In [179]:
df_2['full_name'].str.split(' ',expand=True)

       0        1
0  Corey  Schafer
1   Jane      Doe
2   John   lalala

In [180]:
df_2[['first', 'last']] = df_2['full_name'].str.split(' ',expand=True)

In [181]:
df_2

   first     last                    email (2, first)      full_name
0  Corey  Schafer  Coreymschafer@gmail.com     Durull  Corey Schafer
1   Jane      Doe        Janedoe@gmail.com     Durull       Jane Doe
2   John   lalala        Yeahman@gmail.com     Durull    John lalala

In [182]:
people = {
    'first':['TOny','Steve'],
    'last':['Strak','Rogers'],
    'email':['IronMan@gmail.com','Cap@gmail.com']
}

In [183]:
df_3 = pd.DataFrame(people)

In [184]:
df_2['full_name'] = df_2['first'] + ' ' + df_2['last']

In [185]:
df_2.drop(columns=['first', 'last'], inplace=True)

In [186]:
df_2[['first','last']] = df_2['full_name'].str.split(' ',expand=True)

In [187]:
df_3

   first    last              email
0   TOny   Strak  IronMan@gmail.com
1  Steve  Rogers      Cap@gmail.com

In [188]:
df_2 = df_2.append({'first':'Tonio'}, ignore_index=True)

In [189]:
df_2.append(df_3,ignore_index=True, sort=True)

                     email (2, first)      full_name  first     last
0  Coreymschafer@gmail.com     Durull  Corey Schafer  Corey  Schafer
1        Janedoe@gmail.com     Durull       Jane Doe   Jane      Doe
2        Yeahman@gmail.com     Durull    John lalala   John   lalala
3                      NaN        NaN            NaN  Tonio      NaN
4        IronMan@gmail.com        NaN            NaN   TOny    Strak
5            Cap@gmail.com        NaN            NaN  Steve   Rogers

In [190]:
df_3 = df_3.append(df_2,ignore_index=True,sort=True)

In [191]:
df_3.drop(index=5, inplace=True)

In [192]:
df_3

                     email  first     last (2, first)      full_name
0        IronMan@gmail.com   TOny    Strak        NaN            NaN
1            Cap@gmail.com  Steve   Rogers        NaN            NaN
2  Coreymschafer@gmail.com  Corey  Schafer     Durull  Corey Schafer
3        Janedoe@gmail.com   Jane      Doe     Durull       Jane Doe
4        Yeahman@gmail.com   John   lalala     Durull    John lalala

In [193]:
filt = (pd.isnull(df_3['email']))

In [194]:
df_3[filt]

Empty DataFrame
Columns: [email, first, last, (2, first), full_name]
Index: []

In [195]:
df_3.drop(df_3.index[3:7])

                     email  first     last (2, first)      full_name
0        IronMan@gmail.com   TOny    Strak        NaN            NaN
1            Cap@gmail.com  Steve   Rogers        NaN            NaN
2  Coreymschafer@gmail.com  Corey  Schafer     Durull  Corey Schafer

In [196]:
df_3

                     email  first     last (2, first)      full_name
0        IronMan@gmail.com   TOny    Strak        NaN            NaN
1            Cap@gmail.com  Steve   Rogers        NaN            NaN
2  Coreymschafer@gmail.com  Corey  Schafer     Durull  Corey Schafer
3        Janedoe@gmail.com   Jane      Doe     Durull       Jane Doe
4        Yeahman@gmail.com   John   lalala     Durull    John lalala

In [197]:
df_3.sort_values(by=['last','first'], ascending=[False, True])

                     email  first     last (2, first)      full_name
4        Yeahman@gmail.com   John   lalala     Durull    John lalala
0        IronMan@gmail.com   TOny    Strak        NaN            NaN
2  Coreymschafer@gmail.com  Corey  Schafer     Durull  Corey Schafer
1            Cap@gmail.com  Steve   Rogers        NaN            NaN
3        Janedoe@gmail.com   Jane      Doe     Durull       Jane Doe

In [198]:
filt = (pd.isnull(df['ConvertedComp']) | (df['ConvertedComp'] == 0))

In [199]:
df[~filt]

,MainBranch,Hobbyist,Age,Age1stCode,CompFreq,CompTotal,ConvertedComp,Country,CurrencyDesc,CurrencySymbol,...,SurveyEase,SurveyLength,Trans,UndergradMajor,WebframeDesireNextYear,WebframeWorkedWith,WelcomeChange,WorkWeekHrs,YearsCode,YearsCodePro
Respondent,,,,,,,,,,,,,,,,,,,,,
8,I am a developer by profession,Yes,36.0,12,Yearly,116000.0,116000.0,United States,United States dollar,USD,...,Easy,Appropriate in length,No,"Computer science, computer engineering, or sof...",Django;React.js;Vue.js,Flask,Just as welcome now as I felt last year,39.0,17,13
10,I am a developer by profession,Yes,22.0,14,Yearly,25000.0,32315.0,United Kingdom,Pound sterling,GBP,...,Easy,Appropriate in length,No,Mathematics or statistics,Flask;jQuery,Flask;jQuery,Somewhat more welcome now than last year,36.0,8,4
11,I am a developer by profession,Yes,23.0,13,Yearly,31000.0,40070.0,United Kingdom,Pound sterling,GBP,...,Easy,Appropriate in length,No,"Computer science, computer engineering, or sof...",Angular;Django;React.js,Angular;Angular.js;Django;React.js,Just as welcome now as I felt last year,40.0,10,2
12,I am a developer by profession,No,49.0,42,Monthly,1100.0,14268.0,Spain,European Euro,EUR,...,Easy,Appropriate in length,No,Mathematics or statistics,ASP.NET;jQuery,ASP.NET;jQuery,Just as welcome now as I felt last year,40.0,7,7
13,"I am not primarily a developer, but I write co...",Yes,53.0,14,Monthly,3000.0,38916.0,Netherlands,European Euro,EUR,...,Neither easy nor difficult,Too long,No,NaN,NaN,NaN,A lot less welcome now than last year,36.0,35,20
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
65619,"I am not primarily a developer, but I write co...",Yes,NaN,19,Monthly,30000.0,984.0,Nigeria,Nigerian naira,NGN,...,NaN,NaN,NaN,NaN,Angular,jQuery,NaN,4.0,3,2
65625,I am a developer by profession,Yes,NaN,17,Monthly,5500000.0,19428.0,Colombia,Colombian peso,COP,...,NaN,NaN,NaN,"Computer science, computer engineering, or sof...",NaN,NaN,NaN,40.0,12,5
65629,I am a developer by profession,Yes,41.0,15,Yearly,200.0,200.0,United States,United States dollar,USD,...,NaN,NaN,No,"Computer science, computer engineering, or sof...",React.js,React.js,Just as welcome now as I felt last year,NaN,25,20
65630,I am a developer by profession,Yes,NaN,17,Monthly,1000000.0,15048.0,Chile,Chilean peso,CLP,...,NaN,NaN,NaN,"Information systems, information technology, o...",NaN,NaN,NaN,45.0,7,3
65631,I am a developer by profession,Yes,NaN,13,Yearly,4310000.0,38759.0,Japan,Japanese yen,JPY,...,NaN,NaN,NaN,Web development or web design,NaN,NaN,NaN,40.0,5,Less than 1 year

In [200]:
df[~filt].sort_values(by=['ConvertedComp','Country'], ascending=[True, True]).head(100)

,MainBranch,Hobbyist,Age,Age1stCode,CompFreq,CompTotal,ConvertedComp,Country,CurrencyDesc,CurrencySymbol,...,SurveyEase,SurveyLength,Trans,UndergradMajor,WebframeDesireNextYear,WebframeWorkedWith,WelcomeChange,WorkWeekHrs,YearsCode,YearsCodePro
Respondent,,,,,,,,,,,,,,,,,,,,,
13209,I am a developer by profession,No,46.0,27,Yearly,1.0,1.0,Belgium,European Euro,EUR,...,Difficult,Too long,NaN,"Information systems, information technology, o...",NaN,NaN,A lot less welcome now than last year,38.0,30,27
30191,I am a developer by profession,Yes,55.0,14,Yearly,1.0,1.0,Canada,Canadian dollar,CAD,...,Easy,Too long,NaN,"Computer science, computer engineering, or sof...",NaN,NaN,Just as welcome now as I felt last year,35.0,42,34
56499,I am a developer by profession,Yes,26.0,14,Yearly,1.0,1.0,Pakistan,United States dollar,USD,...,Neither easy nor difficult,Too long,No,"A natural science (such as biology, chemistry,...",Django;Drupal;Flask;jQuery;Laravel;React.js;Ru...,Angular.js;Django;Drupal;jQuery;Laravel;Ruby o...,Somewhat less welcome now than last year,9.0,10,8
33583,I am a developer by profession,No,26.0,16,Yearly,1.0,1.0,United States,United States dollar,USD,...,Easy,Appropriate in length,No,"Computer science, computer engineering, or sof...",Ruby on Rails;Symfony,ASP.NET Core;jQuery;React.js,Just as welcome now as I felt last year,40.0,6,4
32479,I am a developer by profession,Yes,33.0,20,Yearly,15000.0,4.0,Colombia,Colombian peso,COP,...,Easy,Appropriate in length,No,"Computer science, computer engineering, or sof...",Flask;React.js;Vue.js,Django,Just as welcome now as I felt last year,35.0,11,6
9209,I am a developer by profession,Yes,22.0,16,Yearly,500.0,4.0,Japan,Japanese yen,JPY,...,Easy,Too long,No,NaN,Flask,Django;React.js;Spring;Vue.js,A lot more welcome now than last year,40.0,5,1
50196,I am a developer by profession,Yes,23.0,17,Yearly,34.0,5.0,China,Chinese Yuan Renminbi,CNY,...,Easy,Appropriate in length,No,"Computer science, computer engineering, or sof...",React.js,Vue.js,Just as welcome now as I felt last year,40.0,5,1
8385,I am a developer by profession,Yes,23.0,13,Yearly,1000.0,6.0,Pakistan,Pakistani rupee,PKR,...,Neither easy nor difficult,Appropriate in length,No,"Computer science, computer engineering, or sof...",NaN,NaN,Just as welcome now as I felt last year,6.0,10,3
15416,I am a developer by profession,Yes,23.0,17,Yearly,481.0,7.0,India,Indian rupee,INR,...,Neither easy nor difficult,Appropriate in length,No,"Computer science, computer engineering, or sof...",NaN,Vue.js,Somewhat more welcome now than last year,10.0,6,2
37225,I am a developer by profession,Yes,NaN,17,Yearly,500.0,7.0,India,Indian rupee,INR,...,NaN,NaN,NaN,"Another engineering discipline (such as civil,...",NaN,NaN,NaN,84.0,5,Less than 1 year
57500,I am a developer by profession,No,34.0,22,Monthly,40.0,12.0,Argentina,Argentine peso,ARS,...,Neither easy nor difficult,Too long,No,"Computer science, computer engineering, or sof...",NaN,NaN,NaN,NaN,10,8
37012,I am a developer by profession,Yes,NaN,18,Monthly,50.0,12.0,Bangladesh,Bangladeshi taka,BDT,...,NaN,NaN,NaN,"Computer science, computer engineering, or sof...",NaN,NaN,NaN,NaN,8,4
30303,I am a developer by profession,Yes,36.0,12,Monthly,1100.0,12.0,Chile,Chilean peso,CLP,...,Easy,Appropriate in length,No,"Computer science, computer engineering, or sof...",Express;React.js;Vue.js,jQuery;Laravel,Not applicable - I did not use Stack Overflow ...,45.0,18,8
33269,I am a developer by profession,No,34.0,19,Monthly,2600.0,12.0,Colombia,Colombian peso,COP,...,Neither easy nor difficult,Appropriate in length,No,"Computer science, computer engineering, or sof...",Express;Gatsby;Vue.js,React.js;Vue.js,Just as welcome now as I felt last year,35.0,8,5
13755,I am a developer by profession,Yes,37.0,14,Monthly,1.0,12.0,France,European Euro,EUR,...,Easy,Too long,No,"Computer science, computer engineering, or sof...",Angular;Angular.js;Ruby on Rails,jQuery;Laravel;React.js;Symfony;Vue.js,Just as welcome now as I felt last year,40.0,28,15
20641,"I am not primarily a developer, but I write co...",No,32.0,21,Monthly,75.0,12.0,India,Indian rupee,INR,...,Easy,Appropriate in length,NaN,"Computer science, computer engineering, or sof...",Angular;Spring,Angular;Angular.js;Spring,NaN,40.0,3,Less than 1 year
52969,I am a developer by profession,Yes,31.0,27,Monthly,44.0,12.0,India,Indian rupee,INR,...,Neither easy nor difficult,Appropriate in length,No,"Computer science, computer engineering, or sof...",NaN,NaN,A lot more welcome now than last year,NaN,5,5
9623,I am a developer by profession,No,NaN,17,Monthly,1000.0,12.0,Iraq,Iraqi dinar,IQD,...,NaN,NaN,NaN,"Computer science, computer engineering, or sof...",NaN,jQuery;Laravel;Vue.js,NaN,NaN,3,2
21786,I am a developer by profession,Yes,29.0,11,Monthly,1.0,12.0,Luxembourg,European Euro,EUR,...,Neither easy nor difficult,Too long,No,"Computer science, computer engineering, or sof...",React.js;Spring,jQuery;React.js;Spring,A lot more welcome now than last year,45.0,18,10
64321,I am a developer by profession,Yes,NaN,17,Monthly,300.0,12.0,Nigeria,Nigerian naira,NGN,...,NaN,NaN,NaN,"Computer science, computer engineering, or sof...",NaN,Angular;Express;Laravel;React.js,NaN,70.0,4,3
11209,I am a developer by profession,Yes,43.0,15,Monthly,60.0,12.0,Russian Federation,Russian ruble,RUB,...,Easy,Too long,No,"A natural science (such as biology, chemistry,...",NaN,ASP.NET;ASP.NET Core;jQuery,Just as welcome now as I felt last year,68.0,27,20
57433,I am a developer by profession,Yes,24.0,19,Monthly,20000.0,12.0,Viet Nam,Vietnamese dong,VND,...,Easy,Too long,No,"Another engineering discipline (such as civil,...",NaN,NaN,A lot more welcome now than last year,48.0,3,2
9940,I am a developer by profession,Yes,29.0,13,Yearly,72.0,18.0,Poland,Polish zloty,PLN,...,Easy,Too short,No,"Computer science, computer engineering, or sof...",Flask,Flask;jQuery,Just as welcome now as I felt last year,40.0,15,5
40405,I am a developer by profession,Yes,NaN,9,Monthly,2.0,24.0,Germany,United States dollar,USD,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,10.0,12,4
61180,I am a developer by profession,Yes,NaN,15,Monthly,518.0,24.0,Hungary,Hungarian forint,HUF,...,NaN,NaN,NaN,"Computer science, computer engineering, or sof...",ASP.NET Core,ASP.NET Core;jQuery,Just as welcome now as I felt last year,70.0,38,35
34488,I am a developer by profession,Yes,30.0,18,Monthly,30.0,24.0,Lesotho,Lesotho loti,LSL,...,Easy,Appropriate in length,No,"Information systems, information technology, o...",Angular;Spring,jQuery;Spring,Just as welcome now as I felt last year,40.0,10,4
6461,I am a developer by profession,Yes,28.0,12,Yearly,1190.0,24.0,Philippines,Philippine peso,PHP,...,Neither easy nor difficult,Too long,No,"Computer science, computer engineering, or sof...",Flask,Flask,Somewhat more welcome now than last year,40.0,14,7
6776,I am a developer by profession,Yes,32.0,17,Monthly,80.0,24.0,Philippines,Philippine peso,PHP,...,Neither easy nor difficult,Appropriate in length,No,"Information systems, information technology, o...",ASP.NET;ASP.NET Core;Drupal;Spring,Django;Express;Flask;jQuery;Laravel;React.js;V...,Just as welcome now as I felt last year,60.0,8,4
64181,I am a developer by profession,Yes,NaN,5,Monthly,8.0,24.0,Poland,Polish zloty,PLN,...,NaN,NaN,NaN,NaN,Express,Express,NaN,NaN,More than 50 years,5
6885,I am a developer by profession,Yes,31.0,14,Monthly,100.0,24.0,Russian Federation,Russian ruble,RUB,...,Easy,Appropriate in length,No,"Computer science, computer engineering, or sof...",NaN,ASP.NET,Just as welcome now as I felt last year,40.0,15,10
15841,I am a developer by profession,Yes,31.0,18,Monthly,130.0,24.0,Russian Federation,Russian ruble,RUB,...,Neither easy nor difficult,Appropriate in length,No,"Information systems, information technology, o...",React.js,Angular;Angular.js;ASP.NET Core,Just as welcome now as I felt last year,50.0,12,10
59951,"I am not primarily a developer, but I write co...",Yes,26.0,13,Yearly,100.0,25.0,Poland,Polish zloty,PLN,...,Neither easy nor difficult,Too short,No,"Computer science, computer engineering, or sof...",Angular,Django;Express;Flask;jQuery;Vue.js,A lot less welcome now than last year,20.0,13,Less than 1 year
3974,I am a developer by profession,Yes,25.0,16,Yearly,24.0,26.0,Italy,European Euro,EUR,...,Easy,Appropriate in length,No,"Computer science, computer engineering, or sof...",Spring,Angular;Django;Express;Gatsby,Just as welcome now as I felt last year,36.0,5,1
55597,I am a developer by profession,No,NaN,17,Yearly,30.0,30.0,Egypt,United States dollar,USD,...,Easy,Appropriate in length,No,"Computer science, computer engineering, or sof...",Django;React.js;Vue.js,Angular;Angular.js;ASP.NET;ASP.NET Core;jQuery,A lot more welcome now than last year,NaN,10,7
47907,I am a developer by profession,Yes,NaN,16,Yearly,28.0,30.0,Portugal,European Euro,EUR,...,NaN,Appropriate in length,No,"Computer science, computer engineering, or sof...",Angular;ASP.NET Core;Express;React.js;Vue.js,Angular;ASP.NET;ASP.NET Core;Express;Vue.js,NaN,40.0,14,9
24088,I am a developer by profession,No,25.0,12,Yearly,25.0,32.0,United Kingdom,Pound sterling,GBP,...,Easy,Appropriate in length,No,"Computer science, computer engineering, or sof...",NaN,NaN,Just as welcome now as I felt last year,37.0,8,3
10545,I am a developer by profession,Yes,29.0,13,Monthly,206.0,36.0,Russian Federation,Russian ruble,RUB,...,Easy,Appropriate in length,No,"Another engineering discipline (such as civil,...",Angular;Express,Angular;Angular.js;Express,Just as welcome now as I felt last year,40.0,15,7
22113,"I am not primarily a developer, but I write co...",No,30.0,12,Monthly,195.0,36.0,Russian Federation,Russian ruble,RUB,...,Easy,Appropriate in length,No,"Another engineering discipline (such as civil,...",NaN,NaN,Just as welcome now as I felt last year,44.0,17,7
64085,I am a developer by profession,Yes,NaN,12,Monthly,210.0,36.0,Russian Federation,Russian ruble,RUB,...,NaN,NaN,NaN,"Information systems, information technology, o...",NaN,NaN,NaN,40.0,17,11
10801,I am a developer by profession,No,37.0,18,Yearly,36.0,39.0,Spain,European Euro,EUR,...,Easy,Too long,No,"Computer science, computer engineering, or sof...",Django;jQuery,Angular;Django;jQuery,Just as welcome now as I felt last year,40.0,19,13
4394,I am a developer by profession,Yes,NaN,10,Yearly,165.0,42.0,Poland,Polish zloty,PLN,...,Easy,Appropriate in length,No,"Computer science, computer engineering, or sof...",NaN,NaN,Just as welcome now as I felt last year,38.0,12,8
16407,I am a developer by profession,No,28.0,18,Yearly,42.0,45.0,France,European Euro,EUR,...,Neither easy nor difficult,Too long,No,"Computer science, computer engineering, or sof...",NaN,NaN,Just as welcome now as I felt last year,35.0,10,7
58422,I am a developer by profession,Yes,29.0,12,Monthly,250.0,48.0,Russian Federation,Russian ruble,RUB,...,Neither easy nor difficult,Appropriate in length,No,"Information systems, information technology, o...",NaN,Django,Just as welcome now as I felt last year,40.0,18,11
55797,I am a developer by profession,Yes,1.0,Younger than 5 years,Monthly,4.0,48.0,United States,United States dollar,USD,...,Neither easy nor difficult,Appropriate in length,Yes,NaN,Angular,Angular,A lot less welcome now than last year,NaN,Less than 1 year,Less than 1 year
9888,I am a developer by profession,Yes,38.0,9,Yearly,220.0,50.0,Brazil,Brazilian real,BRL,...,Easy,Too long,No,"Information systems, information technology, o...",jQuery;React.js;Ruby on Rails,React.js;Ruby on Rails,Just as welcome now as I felt last year,9.0,30,19
59763,"I am not primarily a developer, but I write co...",No,NaN,25,Weekly,5.0,50.0,Denmark,Danish krone,DKK,...,NaN,NaN,NaN,"Another engineering discipline (such as civil,...",NaN,NaN,NaN,7.0,40,35
6749,I am a developer by profession,No,27.0,18,Weekly,100.0,50.0,India,Indian rupee,INR,...,Difficult,Too long,No,Web development or web design,Angular.js;Django;Express;jQuery;Laravel;React...,Angular;Angular.js;ASP.NET;jQuery;Laravel;Symfony,Somewhat less welcome now than last year,10.0,5,4
22078,I am a developer by profession,Yes,NaN,15,Weekly,1.0,50.0,Slovenia,European Euro,EUR,...,Easy,Too long,NaN,NaN,NaN,React.js,A lot less welcome now than last year,40.0,16,11
38214,I am a developer by profession,No,27.0,25,Yearly,48.0,52.0,Germany,European Euro,EUR,...,Easy,Appropriate in length,No,"Another engineering discipline (such as civil,...",React.js,React.js,Just as welcome now as I felt last year,40.0,3,2
23668,I am a developer by profession,Yes,38.0,15,Yearly,40.0,52.0,United Kingdom,Pound sterling,GBP,...,Easy,Appropriate in length,No,"Another engineering discipline (such as civil,...",Angular;Angular.js;Flask;Laravel;React.js;Vue.js,Angular;Angular.js;Flask;jQuery,NaN,38.0,20,15
4870,I am a developer by profession,Yes,34.0,10,Yearly,50.0,54.0,Italy,European Euro,EUR,...,Neither easy nor difficult,Appropriate in length,No,"Computer science, computer engineering, or sof...",React.js;Vue.js,jQuery,Just as welcome now as I felt last year,40.0,18,10
50159,I am a developer by profession,Yes,40.0,12,Yearly,50.0,54.0,Netherlands,European Euro,EUR,...,Neither easy nor difficult,Appropriate in length,No,Mathematics or statistics,ASP.NET Core,ASP.NET Core,Just as welcome now as I felt last year,48.0,28,19
30804,I am a developer by profession,Yes,28.0,17,Yearly,54.0,58.0,Germany,European Euro,EUR,...,Easy,Appropriate in length,No,"Computer science, computer engineering, or sof...",NaN,NaN,Just as welcome now as I felt last year,40.0,10,3
18390,I am a developer by profession,Yes,28.0,10,Monthly,46.0,60.0,Sweden,Swedish krona,SEK,...,Easy,Appropriate in length,No,"Information systems, information technology, o...",NaN,Express;Flask;React.js,Just as welcome now as I felt last year,33.0,8,5
33679,I am a developer by profession,No,28.0,19,Yearly,80.0,61.0,Canada,Canadian dollar,CAD,...,Easy,Appropriate in length,No,"Computer science, computer engineering, or sof...",ASP.NET Core;Vue.js,ASP.NET;ASP.NET Core;Vue.js,Just as welcome now as I felt last year,40.0,9,4
30288,I am a developer by profession,Yes,37.0,13,Yearly,96.0,61.0,New Zealand,New Zealand dollar,NZD,...,Easy,Appropriate in length,No,"Computer science, computer engineering, or sof...",Angular;Spring,Angular;Angular.js;Spring,Just as welcome now as I felt last year,40.0,25,15
42411,"I am not primarily a developer, but I write co...",No,NaN,8,Yearly,60.0,65.0,Netherlands,European Euro,EUR,...,Neither easy nor difficult,Appropriate in length,No,I never declared a major,Django;Flask,ASP.NET;ASP.NET Core,Somewhat more welcome now than last year,36.0,20,17
4754,"I am not primarily a developer, but I write co...",Yes,24.0,20,Yearly,65.0,65.0,United States,United States dollar,USD,...,Easy,Appropriate in length,No,"Computer science, computer engineering, or sof...",Django;Flask;Spring,NaN,Not applicable - I did not use Stack Overflow ...,45.0,5,2
40602,I am a developer by profession,No,NaN,23,Yearly,65.0,65.0,United States,United States dollar,USD,...,NaN,NaN,NaN,"A business discipline (such as accounting, fin...",NaN,NaN,NaN,NaN,Less than 1 year,Less than 1 year
41205,I am a developer by profession,No,29.0,15,Yearly,3000000.0,71.0,Iran,Iranian rial,IRR,...,Neither easy nor difficult,Appropriate in length,No,"Computer science, computer engineering, or sof...",ASP.NET Core;jQuery;Vue.js,ASP.NET;ASP.NET Core;jQuery,A lot more welcome now than last year,44.0,4,4
6245,I am a developer by profession,Yes,NaN,17,Monthly,500.0,72.0,Bangladesh,Bangladeshi taka,BDT,...,Difficult,Too long,NaN,"Another engineering discipline (such as civil,...",ASP.NET;ASP.NET Core;Express;jQuery;Laravel;Re...,ASP.NET;Express;jQuery;Laravel;React.js,Somewhat more welcome now than last year,48.0,8,4
42267,I am a developer by profession,Yes,NaN,33,Monthly,6.0,72.0,Estonia,European Euro,EUR,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,3,2
46122,I am a developer by profession,No,NaN,18,Monthly,17.0,72.0,Singapore,Samoan tala,WST,...,NaN,NaN,NaN,NaN,NaN,NaN,Somewhat more welcome now than last year,40.0,NaN,NaN
53991,"I am not primarily a developer, but I write co...",Yes,42.0,19,Yearly,72.0,72.0,United States,United States dollar,USD,...,Easy,Appropriate in length,No,"Information systems, information technology, o...",Django;Flask;React.js,Django,Somewhat more welcome now than last year,40.0,3,2
54570,I am a developer by profession,Yes,31.0,13,Yearly,101.0,76.0,Canada,Canadian dollar,CAD,...,Easy,Appropriate in length,No,"Computer science, computer engineering, or sof...",NaN,NaN,NaN,40.0,14,9
4225,I am a developer by profession,Yes,NaN,17,Yearly,80.0,80.0,United States,United States dollar,USD,...,Easy,Too long,No,"A natural science (such as biology, chemistry,...",Express;jQuery,Express;jQuery,Just as welcome now as I felt last year,40.0,13,7
17102,"I am not primarily a developer, but I write co...",Yes,49.0,10,Yearly,80.0,80.0,United States,United States dollar,USD,...,Easy,Appropriate in length,No,"A business discipline (such as accounting, fin...",jQuery,NaN,Just as welcome now as I felt last year,50.0,20,20
34285,"I am not primarily a developer, but I write co...",No,37.0,14,Yearly,75.0,81.0,Germany,European Euro,EUR,...,Easy,Appropriate in length,No,"Computer science, computer engineering, or sof...",NaN,Angular.js;Express;React.js,Just as welcome now as I felt last year,40.0,23,10
47841,"I am not primarily a developer, but I write co...",No,NaN,18,Yearly,3400000.0,81.0,Iran,Iranian rial,IRR,...,NaN,NaN,NaN,"Another engineering discipline (such as civil,...",Django,Django,NaN,36.0,6,NaN
12776,I am a developer by profession,Yes,19.0,16,Yearly,30000.0,82.0,Nigeria,Nigerian naira,NGN,...,Easy,Too long,No,NaN,Laravel,jQuery,A lot more welcome now than last year,40.0,3,2
38611,"I am not primarily a developer, but I write co...",Yes,NaN,10,Yearly,110.0,83.0,Canada,Canadian dollar,CAD,...,NaN,NaN,NaN,"A social science (such as anthropology, psycho...",NaN,NaN,NaN,35.0,43,20
57689,I am a developer by profession,Yes,20.0,18,Monthly,100000.0,84.0,Indonesia,Indonesian rupiah,IDR,...,Easy,Appropriate in length,No,NaN,React.js,React.js,Just as welcome now as I felt last year,48.0,2,1
15096,I am a developer by profession,Yes,NaN,12,Yearly,780.0,84.0,Norway,Norwegian krone,NOK,...,Easy,Appropriate in length,No,"A natural science (such as biology, chemistry,...",Django,ASP.NET;ASP.NET Core;React.js,Just as welcome now as I felt last year,40.0,14,6
17462,I am a developer by profession,Yes,29.0,15,Yearly,67.0,87.0,United Kingdom,Pound sterling,GBP,...,Easy,Appropriate in length,No,"Computer science, computer engineering, or sof...",React.js,React.js;Spring,Just as welcome now as I felt last year,35.0,15,5
63390,I am a developer by profession,Yes,NaN,18,Yearly,88.0,88.0,United States,United States dollar,USD,...,NaN,NaN,NaN,"Computer science, computer engineering, or sof...",NaN,NaN,NaN,40.0,6,3
29383,I am a developer by profession,Yes,39.0,15,Yearly,84.0,91.0,Germany,European Euro,EUR,...,Easy,Appropriate in length,No,Mathematics or statistics,ASP.NET Core;Express;React.js,ASP.NET Core;Express;React.js,Just as welcome now as I felt last year,42.0,23,15
56986,I am a developer by profession,Yes,NaN,14,Yearly,44000.0,92.0,Spain,Armenian dram,AMD,...,Easy,Too long,No,"Computer science, computer engineering, or sof...",React.js;Ruby on Rails;Vue.js,Angular;Angular.js;ASP.NET;ASP.NET Core;jQuery...,NaN,40.0,21,11
36352,I am a developer by profession,Yes,33.0,19,Yearly,140.0,94.0,Australia,Australian dollar,AUD,...,Neither easy nor difficult,Appropriate in length,No,Mathematics or statistics,NaN,ASP.NET Core;Django;Flask;React.js,Just as welcome now as I felt last year,60.0,7,4
1883,I am a developer by profession,Yes,34.0,15,Yearly,95.0,95.0,United States,United States dollar,USD,...,Neither easy nor difficult,Appropriate in length,No,NaN,NaN,jQuery,A lot less welcome now than last year,40.0,16,9

In [217]:
df.columns

Index(['MainBranch', 'Hobbyist', 'Age', 'Age1stCode', 'CompFreq', 'CompTotal',
       'ConvertedComp', 'Country', 'CurrencyDesc', 'CurrencySymbol',
       'DatabaseDesireNextYear', 'DatabaseWorkedWith', 'DevType', 'EdLevel',
       'Employment', 'Ethnicity', 'Gender', 'JobFactors', 'JobSat', 'JobSeek',
       'LanguageDesireNextYear', 'LanguageWorkedWith',
       'MiscTechDesireNextYear', 'MiscTechWorkedWith',
       'NEWCollabToolsDesireNextYear', 'NEWCollabToolsWorkedWith', 'NEWDevOps',
       'NEWDevOpsImpt', 'NEWEdImpt', 'NEWJobHunt', 'NEWJobHuntResearch',
       'NEWLearn', 'NEWOffTopic', 'NEWOnboardGood', 'NEWOtherComms',
       'NEWOvertime', 'NEWPurchaseResearch', 'NEWPurpleLink', 'NEWSOSites',
       'NEWStuck', 'OpSys', 'OrgSize', 'PlatformDesireNextYear',
       'PlatformWorkedWith', 'PurchaseWhat', 'Sexuality', 'SOAccount',
       'SOComm', 'SOPartFreq', 'SOVisitFreq', 'SurveyEase', 'SurveyLength',
       'Trans', 'UndergradMajor', 'WebframeDesireNextYear',
       'WebframeWorkedWith', 'WelcomeChange', 'WorkWeekHrs', 'YearsCode',
       'YearsCodePro'],
      dtype='object')

In [203]:
country_group = df.groupby(['Country'])

In [240]:
country_group['LanguageWorkedWith'].apply(lambda x:x.str.contains('Python').sum()).loc['France']

833

In [242]:
df_un = df['Country'].value_counts()

In [243]:
df_deux = country_group['LanguageWorkedWith'].apply(lambda x:x.str.contains('Python').sum())

In [245]:
df_total = pd.concat([df_un,df_deux], axis=1)

In [249]:
df_total.rename(columns={'Country':'Nb rEpondant pas pays','LanguageWorkedWith':'Utilisant Python'}, inplace=True)

In [251]:
df_total['Pourcentage'] = (df_total['Utilisant Python']/df_total['Nb rEpondant pas pays'])*100

In [253]:
df_total.loc['France']

Nb rEpondant pas pays    1898.000000
Utilisant Python          833.000000
Pourcentage                43.888303
Name: France, dtype: float64